# File format for signing key
*.jks

__pycache__
*.pyc
build_docker
bin/
build.log
tmphome/
android_root/

# Typical virtualenv directories
tmpenv/
venv/
.venv/

# Gradle and Android Studio
.gradle/
.idea/
build/
local.properties
upload.properties

*.apk
.env
